
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1506634064465-7dab4de896ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")>
  <h1>Gagnez de l'argent en louant votre plante</h1>
</div>
<div class="container mt-3">
<div class="d-flex justify-content-between">
  <div class="width-500px">
    <h2>Pourquoi proposer ses plantes sur Locaplant ?</h2>

    <p>Quel que soit le type de plante que vous partagez, Locaplant vous permet de louer vos plantes de manière simple et sécurisée. Vous avez un contrôle total sur vos plantes, vos prix, votre règlement intérieur et votre interaction avec les loueurs.</p>
  </div>

  <div class="width-500px">
    <h2>Nous assurons vos arrières !</h2>

    <p>Afin d'assurer la sécurité de vos plantes, nous offrons pour chaque réservation une protection contre les dommages matériels à hauteur de 1 million d'Euros</p>
  </div>
</div>

<h2 class="text-center mb-5 mt-5">Proposez votre plante en 3 étapes</h2>
<div class="d-flex justify-content-between">
  <div class="width-330px">
    <h3>Publiez votre annonce gratuitement</h3>
    <p>Vous n'avez aucun frais d'inscription à payer pour partager votre plante, qu'il s'agisse
    de votre plante préférée ou moins aimée</p>
  </div>
  <div class="width-330px">
    <h3>Fixez vos conditions</h3>

    <p>Vous fixez votre planning, vos prix et vos conditions concernant les loueurs. Nous restons
    à votre disposition si vous avez besoin d'aide.</p>
  </div>
  <div class="width-330px">
    <h3>Mettez en location votre première plante!</h3>

    <p>Une fois votre annonce publiée, les locataires qui remplissent les conditions pourront vous contacter. Si vous avez
      des questions à leur poser avant leur séjour, envoyez-leur un message.</p>
  </div>
</div>
  <h2 class="text-center mb-5 mt-5">Parlez-nous un peu de votre plante</h2>
  <%= render "form", plant: @plant %>
</div>

