
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523820084935-cfd4aecd5b02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")>
  <h1>Gagnez de l'argent en louant votre plante</h1>
</div>
<div class="container mt-3">
  <h2 class="text-center mb-5 mt-5">Proposez votre plante en 3 étapes</h2>
<div class="d-flex justify-content-between">
<div class="d-md-flex justify-content-between">
  <div class="p-4 text-center w-33">
    <h3>Publiez votre annonce gratuitement</h3>
    <p>Vous n'avez aucun frais d'inscription à payer pour partager votre plante, qu'il s'agisse
    de votre plante préférée ou moins aimée</p>
  </div>
  <div class="p-4 text-center w-33">
    <h3>Fixez vos conditions pour votre location</h3>

    <p>Vous fixez votre planning, vos prix et vos conditions concernant les loueurs. Nous restons
    à votre disposition si vous avez besoin d'aide.</p>
  </div>
  <div class="p-4 text-center w-33">
    <h3>Mettez en location votre première plante!</h3>

    <p>Une fois votre annonce publiée, les locataires qui remplissent les conditions pourront vous contacter. Si vous avez
      des questions à leur poser avant leur séjour, envoyez-leur un message.</p>
  </div>
  </div>
</div>
  <h2 class="text-center mb-5 mt-5">Parlez-nous un peu de votre plante</h2>
  <%= render "form", plant: @plant %>
</div>

