

.myButton {
  background-color:#136A55;
  border-radius:26px;
  border:1px solid #01260D;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Monserrat;
  font-size:16px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color:#01260D;
}
.myButton:active {
  position:relative;
  top:1px;
}
