// Product card

.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-product img {
  height: 100%;
  width: 165px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  color: #136A55;
  font-weight: bold;
  margin: 0;
}

.link:hover {
  text-decoration: none;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  color: black;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

#price {
  color: #aac4b5;
  font-weight: 500;
}

// Map for index

#map {
position: sticky;
min-height: 500px;
max-height:500px;
top: 30px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  margin-top: 10px;
}

.mapboxgl-popup-content h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 16px !important;
  color: #136A55 !important;
}

.mapboxgl-popup-content p {
  text-align: center;
  font-size: 14px !important;
  font-weight: lighter;
  color: black;
}
