.container-home {
  background: #136A55;
  padding-top: 8px;
  padding-bottom: 16px;
}

.container-home h2 {
  color: #ffffff;
  padding-bottom: 8px;
  // margin-top: 0px;
}

.container-home h3 {
  font-size: 22px;
  margin-top: 8px;
}

.container-button {
  margin: 16px;
  text-align: center;
}

// .myButton-home .myButton {
//   text-align: center;
//   width: 50px;
//   background-color: #ffffff;
//   color: #01260D;
//   text-shadow: none;
//   border:1px solid #aac4b5;
//   margin: 16px;
// }

.card-plant-home-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.card-plant-home {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-plant-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant-home p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 12px;
}

.card-plant-home {
  text-decoration: none;
  color: black;
}

.card-plant-home .card-plant-home-infos {
  padding: 16px;
}

.card-plant-home-infos {
  position: relative;
}

.card-trip-user {
  position: absolute;
  top: -20px;
  right: 16px;
}

.card-plant-home-pricing {
  margin: 0px;
}

.container-card-plant-home a:hover {
  text-decoration: none;
}

.container-card-plant-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .container-card-plant-home {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .container-card-plant-home {
    grid-template-columns: 1fr;
  }
}
