.card-plante-index {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.card-plante-index img {
  height: 130px;
  // width: 120px;
  // object-fit: cover;
}

.card-plante-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plante-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.card-plante-index .card-plante-index-infos {
  padding: 16px;
}

// .container-card-plante-home {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 10px;
// }

// @media (max-width: 768px) {
//   .container-card-plante-home {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media (max-width: 500px) {
//   .ccontainer-card-plante-home {
//     grid-template-columns: 1fr;
//   }
// }
