.card-plant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-plant-banner {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-plant a {
  text-decoration: none;
  color: black;
}


.card-plant .card-plant-infos {
  padding: 16px;
}

.card-plant-infos .card-plant-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container-card-plant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .container-card-plant {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .container-card-plant {
    grid-template-columns: 1fr;
  }
}
